@media screen and (max-width: 640px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-white);
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    background-color: var(--main-white);
    div {
      img {
        transform: scaleY(-1);
      }
    }
  }

  .navbar-links.show {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: X-Heighting;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);

    li a {
      color: black;
    }
  }

  .hamburger {
    height: 100%;
    width: 146px;
    background-color: var(--main-white);
    clip-path: polygon(35px 0px, 146px 0, 146px 56px, 0px 56px);
  }
  .navbar-logo {
    height: 100%;
    width: 146px;
    background-color: var(--main-white);
    clip-path: polygon(0px 0px, 146px 0, 111px 56px, 0px 56px);
  }
}

@media screen and (min-width: 1919px) {
  .hamburger {
    display: none;
  }
  nav,
  ul {
    margin: 0;
    padding: 0;
    li a {
      color: black;
    }
  }

  .navbar {
    background-color: transparent;
    margin-top: 25px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo {
    height: 100%;
    width: 146px;
    background-color: var(--main-white);
    clip-path: polygon(0px 0px, 146px 0, 111px 56px, 0px 56px);
    a {
      color: red;
    }
  }

  .navbar-links {
    height: 100%;
    width: 1138px;
    background-color: var(--main-white);
    list-style-type: none;
    font-family: X-Heighting;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    clip-path: polygon(35px 0px, 1162px 0px, 1162px 56px, 0px 56px);

    li {
      margin: 0px 33px;
    }
    & li a.active {
      color: var(--main-red);
    }
    & li.home-button {
      margin-left: 70px;
    }
    & li.register-button-container {
      background-color: transparent;
      margin-right: 70px;
      .register-button {
        display: flex;
        align-items: center;
        width: 142px;
        height: 41px;
        clip-path: polygon(0 0, 88% 0%, 100% 40%, 100% 100%, 12% 100%, 0% 60%);
        background: repeating-linear-gradient(
          45deg,
          var(--main-red),
          var(--main-red) 3px,
          #e60114 3px,
          #e60114 10px
        );
        a {
          color: white;
        }
      }
    }
  }
}
