nav,
ul {
  margin: 0;
  padding: 0;
  li a {
    color: black;
  }
}

.navbar {
  background-color: transparent;
  margin-top: 25px;
  height: 56px;
}

.navbar-logo {
  width: 146px;
  height: 100%;
  background-color: var(--main-white);
  clip-path: polygon(0px 0px, 146px 0, 111px 56px, 0px 56px);
  a {
    color: red;
  }
}

.navbar-links {
  height: 100%;
  background-color: aliceblue;
  list-style-type: none;
  font-family: X-Heighting;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.8px;
  clip-path: polygon(35px 0px, 1162px 0px, 1162px 56px, 0px 56px);

  li {
    margin: 0px 30px;
  }
  & li.home-button {
    margin-left: 70px;
  }
  & li.register-button {
    background-color: transparent;
    .xxx {
      display: flex;
      align-items: center;
      width: 142px;
      height: 41px;
      clip-path: polygon(0 0, 88% 0%, 100% 40%, 100% 100%, 12% 100%, 0% 60%);
      background: repeating-linear-gradient(
        45deg,
        var(--main-red),
        var(--main-red) 3px,
        #e60114 3px,
        #e60114 10px
      );
      a {
        color: white;
      }
    }
  }
}
