<nav class="navbar row align-center space-between">
  <div class="navbar-logo row justify-center align-center">
    <a href="/" class="row align-center">
      <img src="assets/svg/logo.svg" alt="Logo" width="45" height="45" />
    </a>
  </div>
  <ul class="navbar-links row full-center">
    <li class="home-button"><a href="/">HOME</a></li>
    <li><a href="/about">HEROES</a></li>
    <li><a href="/services">STORY</a></li>
    <li><a href="/contact">TOURNAMENT</a></li>
    <li><a href="/ambasador">AMBASSADOR</a></li>
    <li><a href="/token">TOKEN</a></li>
    <li class="register-button row full-center">
      <div class="xxx row full-center">
        <a href="/register">REGISTER</a>
      </div>
    </li>
  </ul>
</nav>
