<!-- <section class="main column">
  <div class="bg-1-wrapper">
    <div class="container-1">
      <img
        class="background-1"
        src="../../../assets/images/bg-team.jpg"
        alt="bg-1"
      />
      <div class="right-filler">
        <img
          class="filler-bg"
          src="../../../assets/images/image-red.png"
          alt="filler"
        />
        <img
          class="union-1"
          src="../../../assets/images/Union.png"
          alt="union-1"
        />
        <img
          class="union-2"
          src="../../../assets/images/Union.png"
          alt="union-2"
        />
        <img
          class="citizen-conflict"
          src="../../../assets/images/citizen-conflict.png"
          alt="citizen-conflict"
        />
      </div>
      <img class="pose-7" src="../../../assets/images/pose7.png" alt="pose-7" />
    </div>
  </div>
  <div class="bg-2-wrapper">
    <img
      class="background-2"
      src="../../../assets/images/bg-explosion.png"
      alt="bg-2"
    />
  </div>
</section> -->

<div class="background-images">
  <img
    class="background-image-1"
    src="../../../assets/images/bg-team.jpg"
    alt="Background 1"
  />
  <img
    class="background-image-2"
    src="assets/images/bg-explosion.png"
    alt="Background 2"
  />
</div>

<section class="section section-1">
  <div class="right-filler">
    <img
      class="filler-bg"
      src="../../../assets/images/image-red.png"
      alt="filler"
    />
    <img class="union-1" src="../../../assets/images/Union.png" alt="union-1" />
    <img class="union-2" src="../../../assets/images/Union.png" alt="union-2" />
    <img
      class="citizen-conflict"
      src="../../../assets/images/citizen-conflict.png"
      alt="citizen-conflict"
    />
  </div>
  <img class="pose-7" src="../../../assets/images/pose7.png" alt="pose-7" />
  <img class="union-3" src="../../../assets/images/Union.png" alt="union-3" />
  <img class="union-4" src="../../../assets/images/Union.png" alt="union-4" />
  <div class="left-container">
    <div class="substract-container">
      <img
        src="../../../assets/images/Subtract-1.png"
        alt=""
        class="substract-1"
      />
      <img
        src="../../../assets/images/Subtract-2.png"
        alt=""
        class="substract-2"
      />
      <div class="button-container">
        <div class="play-wrapper">
          <img
            class="triangle-button"
            src="../../../assets/images/triangle.png"
            alt=""
          />
          <div class="play-button">
            <p>PLAY NOW</p>
          </div>
        </div>
        <div class="learn-button">
          <img
            class="border-button"
            src="../../../assets/images/button-border.png"
            alt="border-button"
          />
          <p>LEARN MORE</p>
        </div>
      </div>
    </div>
  </div>
</section>

<img
  class="divider-right"
  src="../../../assets/images/white-border.png"
  alt="divider"
/>
<section class="section section-2">
  <div class="hero-text-wrapper">
    <div class="hero-wrapper">
      <img
        src="../../../assets/images/dark-hero.png"
        alt=""
        class="dark-hero"
      />
    </div>
    <div class="text-wrapper">
      <div class="sub-citizen-wrapper">
        <p class="sub-citizen">GET YOUR</p>
      </div>
      <div class="citizen-zero">
        <img
          src="../../../assets/images/text-bg.png"
          alt=""
          class="citizen-img"
        />
        <p class="citizen-text">CITIZEN ZERO</p>
      </div>
      <div class="paragraph-wrapper">
        <div class="paragraph-container">
          <p class="citizen-paragraph-1">
            Attain the founders’ privilege with the sinister
          </p>
          <p class="citizen-paragraph-2">
            presence of the Citizen Zero; a dark magnificence
          </p>
          <p class="citizen-paragraph-3">embodied, $QORPO airdrop granted.</p>
        </div>
      </div>
      <div class="citizen-buttons-container">
        <div class="buy-wrapper">
          <img
            class="triangle-button"
            src="../../../assets/images/triangle.png"
            alt=""
          />
          <div class="buy-button">
            <p class="buy-text">BUY NOW</p>
          </div>
        </div>
        <div class="learn-button-2">
          <img
            class="border-button-2"
            src="../../../assets/images/button-border.png"
            alt="border-button"
          />
          <p>LEARN MORE</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-3">
  <div class="selection-container">
    <div class="selection-wrapper">
      <div class="selection-subtitle">SELECT YOUR</div>
      <div class="selection-title-wrapper">
        <div class="selection-title">
          <p class="hero-class">HERO CLASS</p>
        </div>
        <img
          src="../../../assets/images/horizontal.png"
          alt=""
          class="red-divider"
        />
        <div class="selection-see-all">
          <p class="see-all">SEE ALL HEROES</p>
        </div>
        <img
          src="../../../assets/images/triangle-right.png"
          alt=""
          class="arrow-right"
        />
      </div>
    </div>
    <div class="heroes-wrapper">
      <div class="img-container">
        <img
          src="../../../assets/images/hero-1.png"
          alt="hero-1"
          class="img1"
        />
      </div>
      <div class="img-container">
        <img
          src="../../../assets/images/hero-2.png"
          alt="hero-2"
          class="img1"
        />
      </div>
      <div class="img-container">
        <img
          src="../../../assets/images/hero-3.png"
          alt="hero-3"
          class="img1"
        />
      </div>
      <div class="img-container">
        <img
          src="../../../assets/images/hero-4.png"
          alt="hero-4"
          class="img1"
        />
      </div>
    </div>
    <div class="heroes-description">
      <div class="hero-name">
        <img
          src="../../../assets/images/vitalizer.png"
          alt=""
          class="vitalizer"
        />
      </div>
      <img
        src="../../../assets/images/vertical.png"
        alt=""
        class="vertical-divider"
      />

      <div class="heroes-text">
        <p class="hero-p1">
          Exceptional healing abilities overshadow their capacity for
        </p>
        <p class="hero-p2">
          dealing damage. Vital as a reliable backup, each vitalizer is
        </p>
        <p class="hero-p3">
          well-equipped to offer essential support to their team.
        </p>
      </div>
    </div>
  </div>
</section>
