<!-- <section class="main column">
  <div class="bg-1-wrapper">
    <div class="container-1">
      <img
        class="background-1"
        src="../../../assets/images/bg-team.jpg"
        alt="bg-1"
      />
      <div class="right-filler">
        <img
          class="filler-bg"
          src="../../../assets/images/image-red.png"
          alt="filler"
        />
        <img
          class="union-1"
          src="../../../assets/images/Union.png"
          alt="union-1"
        />
        <img
          class="union-2"
          src="../../../assets/images/Union.png"
          alt="union-2"
        />
        <img
          class="citizen-conflict"
          src="../../../assets/images/citizen-conflict.png"
          alt="citizen-conflict"
        />
      </div>
      <img class="pose-7" src="../../../assets/images/pose7.png" alt="pose-7" />
    </div>
  </div>
  <div class="bg-2-wrapper">
    <img
      class="background-2"
      src="../../../assets/images/bg-explosion.png"
      alt="bg-2"
    />
  </div>
</section> -->

<div class="background-images">
  <img
    class="background-image-1"
    src="../../../assets/images/bg-team.jpg"
    alt="Background 1"
  />
  <img
    class="background-image-2"
    src="assets/images/bg-explosion.png"
    alt="Background 2"
  />
</div>

<section class="section section-1">
  <div class="right-filler">
    <img
      class="filler-bg"
      src="../../../assets/images/image-red.png"
      alt="filler"
    />
    <img class="union-1" src="../../../assets/images/Union.png" alt="union-1" />
    <img class="union-2" src="../../../assets/images/Union.png" alt="union-2" />
    <img
      class="citizen-conflict"
      src="../../../assets/images/citizen-conflict.png"
      alt="citizen-conflict"
    />
  </div>
  <img class="pose-7" src="../../../assets/images/pose7.png" alt="pose-7" />
  <img class="union-3" src="../../../assets/images/Union.png" alt="union-3" />
  <img class="union-4" src="../../../assets/images/Union.png" alt="union-4" />
  <div class="left-container">
    <div class="substract-container">
      <img
        src="../../../assets/images/Subtract-1.png"
        alt=""
        class="substract-1"
      />
      <img
        src="../../../assets/images/Subtract-2.png"
        alt=""
        class="substract-2"
      />
      <div class="button-container">
        <div class="play-wrapper">
          <img
            class="triangle-button"
            src="../../../assets/images/triangle.png"
            alt=""
          />
          <div class="play-button">
            <p>PLAY NOW</p>
          </div>
        </div>
        <div class="learn-button">
          <img
            class="border-button"
            src="../../../assets/images/button-border.png"
            alt=""
          />
          <p>LEARN MORE</p>
        </div>
      </div>
    </div>
  </div>
</section>

<img
  class="divider-right"
  src="../../../assets/images/white-border.png"
  alt="divider"
/>
<section class="section section-2"></section>

<section class="section section-3"></section>
