:root {
  // MAIN
  --main-white: #ffffff;
  --main-red: #ff0116;
  --main-azure: #2bffff;

  // SECONDARY
  --secondary-purple: #fa00ff;
  --secondary-green: #b2f000;
  --secondary-red: #f7004d;
  --secondary-yellow: #ffe900;

  // EVENT
  --event-task-green: #00ffd1;
  --event-task-green-50: rgba(0, 255, 208, 0.5);
  --event-fight-red: #ff0116;
  --event-fight-red-50: rgba(255, 1, 22, 0.5);
  --event-airstrike: #ff9900;
  --event-portals: #ff00f5;
  --event-gravity-green: #00ff0a;
}
