@import "styles/variables.scss";
// @import "styles/theme-overrides.scss";
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";

// FONTS
@font-face {
  font-family: "X-Heighting";
  src: url("/assets/fonts/X-Heighting.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("/assets/fonts/RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("/assets/fonts/RedHatDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}
// MOBILE VERSION

@media screen and (max-width: 650px) {
}

// BASE GLOBAL STYLE
html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  // background-color: #12151e;
}

app-root {
  display: flex;
  flex-direction: column;
  color: var(--main-white);
}

// FLEX GLOBAL STYLE

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

// TEXTS GLOBAL STYLE

// CUSTOM GLOBAL STYLE
.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.btn-corrner {
  background: linear-gradient(0deg, transparent 0, #6441a4 0) top left,
    linear-gradient(0deg, transparent 0, #6441a4 0) top right,
    linear-gradient(0deg, transparent 0px, #6441a4 0) bottom right,
    linear-gradient(45deg, transparent 0.5rem, #6441a4 0) bottom left;
}
.clip-polygon {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.linear-gradient-cut-corner {
  background: linear-gradient(305deg, transparent 35px, white 0%);
}
